@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}



body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}


.menu{
    position: absolute;
    top: 3cm;
    left: 20%;
   right: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 20px;
    font-weight: 800;
}

#menu {
    display: none;
}

.menu-icono {
    width: 30cm;
}

.menu label {
    cursor: pointer;
}

.header-content {
    text-align: center;
    position: absolute;
    top: 10cm;
}

.header-content h1{
    font-size: 75px;
    line-height: 88px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
    margin-left: -15cm;
    margin-right: -15cm;
    margin-top: 2cm;
    
}

.header-content p {
    font-size: 30px;
    color: #c5c5c5; 
    padding: 0 258px;
    margin-bottom: 25px;
    margin-left: -15cm;
    margin-right: -15cm;

}

.Agua {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.agua-content {
    text-align: center;
}

.agua-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.txt-p {
        font-size: 25px;
        color: #414247;
        margin-bottom: 35px;
}

.gotas-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.agua-1 {
    padding: 0 25px;

}

.agua-1 img {
    width: 10cm;
}

.agua-1 p{
    font-size: 18px;

}

.gotas-img {
    position: absolute;
    top: 0;
    right: 0px;
    width: 47cm;
}

.agua-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;

}

.services {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url(bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content {
text-align: center;

}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50PX;
    margin-left: 1cm;
}

.services-content P {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 50px;
    padding: 0 100px;
    margin-left: -1cm;
    margin-right: -2cm;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: -5.7cm;
}

.services-1{
    padding: 0 100px;

}

.services-1 img {
    width: 10cm;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #ffffff;
    font-size: 18px;
    margin-left: -0.5cm;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;

}

.general-2 {
    background-image: url(coffe-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

.general-3 {
    background-image: url(coffee-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

h2 {
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 35px;
    color: #676767;
    margin: 25px 0 45px 0;

}

.blog {
    padding: 100px 0;
    text-align: center;

}

.blog-content {
    display: flex;
    justify-content: space-between;

}

.blog-1 {
    padding: 15px 55px;

}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;

}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;

}

.footer {
    padding: 100px 0;
    background-color: #000000;

}

.footer-content {
    display: flex;
    justify-content: space-between;

}

.link h3 {
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 15px;
    margin-left: 13.5cm;
}

.link p {
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 15px;
    margin-left: 12.3cm;
}
